{
  "root": true,
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:react/recommended"
  ],
  "plugins": [
    "prettier",
    "flowtype",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "semi": false,
        "arrowParens": "always"
      }
    ],
    "require-yield": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "no-param-reassign": 0,
    "no-await-in-loop": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "scripts/**",
          "**/*.test.js",
          "**/*.test.jsx",
          "src/test/**/*.js",
          "cli/**/*.js"
        ]
      }
    ],
    "import/extensions": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest": true
  }
}
